.card {
  border: none;
  width: 500px;
  padding: 40px;

  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;

  background: hsla(205, 45%, 30%, 1);
  background: linear-gradient(90eg, hsla(205, 45%, 30%, 1) 0%, hsla(250, 30%, 35%, 1));

}
label{
  color: white;
}
h1{
  text-align: center;
  color: white;
}
input {
  margin-bottom: 2rem;
}

button {
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  border: none;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 2rem;
}
